{% if post.categories[0] %}
{% assign cat = post.categories[0] %}
<div class="excerpt">
  <strong> &raquo;
    <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>
    {% if page.name == "index" %}
    - (<a href="{{ site.baseurl }}/{{ cat }}.html">
      {{site.t[page.lang][cat].title}}
    </a>)
    {% endif %}
    <br> </strong>
  {{ post.excerpt | strip_html | truncatewords: 50 }}
  <div class="excerpt-date">
    {{ post.date | date: "%b %-d, %Y" }}
  </div>
</div>
{% endif %}
