<header class="site-header">

  <div class="container-fluid">
    <div class="row">
    <span class="header-title col-xs-12 text-center">
      <a href="{{ site.baseurl }}/">Abel Soares Siqueira</a>
    </span>
    <span class="header-subtitle col-xs-12 text-right">
      {% if page.lang == "en" %}
        Applied Mathematician
      {% else %}
        Matemático Aplicado
      {% endif %}
    </span>
    </div>

    <div class="menu-table visible-xs-inline text-center">
      {% if page.lang %}
        {% assign thislang = page.lang %}
      {% else %}
        {% assign thislang = "br" %}
      {% endif %}
      {% assign pages = site.pages | sort: 'order' %}
      {% for pg in pages %}
      {% if pg.title and pg.lang == thislang and pg.order > 0 %}
      <div class="menu-table-cell">
      <a href="{{ pg.url | prepend: site.baseurl }}">
        <i class="fa fa-{{ pg.icon }}" aria-hidden="true"></i><br>
        <span>{{ pg.title }}</span>
      </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="menu-table-cell">
        <a href="https://abelsiqueira.github.io/blog/">
          <i class="fa fa-pencil" aria-hidden="true"></i><br>
          <span>Blog</span>
        </a>
      </div>
      <div class="menu-table-cell">
        <a href="https://opt.ufpr.br/">
          <i class="fa fa-university" aria-hidden="true"></i><br>
          <span>Opt UFPR</span>
        </a>
      </div>

    <div class="visible-xs-block">
      <span>
        abelsiqueira<i class="fa fa-at" aria-hidden="true"></i>ufpr.br
        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
      </span>
    </div>

  </div>

</header>
