<header class="site-header">

  <div class="container-fluid">
    <div class="row">
    <span class="header-title col-xs-12 text-center">
      <a href="{{ site.baseurl }}/">Abel Soares Siqueira</a>
    </span>
    <span class="header-subtitle col-xs-12 text-right">
      <div class="container">
        Prof. at Federal University of Paraná
      </div>
    </span>
    </div>

    <div class="menu-table visible-xs-inline text-center">
      <div class="menu-table-cell">
        <a href="/"> <i class="fa fa-home" aria-hidden="true"></i><br> <span>Home</span> </a>
      </div>
      <div class="menu-table-cell">
        <a href="/disciplinas/"> <i class="fa fa-book" aria-hidden="true"></i><br> <span>Disciplinas</span> </a>
      </div>
      <div class="menu-table-cell">
      <a href="/pesquisa/"> <i class="fa fa-flask" aria-hidden="true"></i><br> <span>Pesquisa</span> </a>
      </div>
      <div class="menu-table-cell">
      <a href="/research/"> <i class="fa fa-flask" aria-hidden="true"></i><br> <span>Research</span> </a>
      </div>
      <div class="menu-table-cell">
      <a href="/supervision/"> <i class="fa fa-graduation-cap" aria-hidden="true"></i><br> <span>Supervision</span> </a>
      </div>
      <div class="menu-table-cell">
      <a href="/curriculum/"> <i class="fa fa-id-card" aria-hidden="true"></i><br> <span>Curriculum</span> </a>
      </div>
    </div>

    <div class="visible-xs-block">
      <span>
        abelsiqueira<i class="fa fa-at" aria-hidden="true"></i>ufpr.br
        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
      </span>
    </div>

  </div>

</header>
