<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.email -%}
			<a href="mailto:{{ site.email }}"><li><i class="fas fa-2x fa-envelope"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="fab fa-2x fa-github-square"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="fab fa-2x fa-linkedin"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="fab fa-2x fa-twitter-square"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.research_gate -%}
			<a href="https://www.researchgate.net/profile/{{ site.texture.social_links.research_gate }}"><li><i class="fab fa-2x fa-researchgate"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.orcid -%}
			<a href="http://orcid.org/{{ site.texture.social_links.orcid }}"><li><i class="fab fa-2x fa-orcid"></i></li></a>
		{%- endif -%}
	</ul>
  <ul class="meu-nav">
    <li> <a href="/research/">     Research </a> </li>
    <li> <a href="/publications/"> Publications </a> </li>
    <li> <a href="/softwares/">    Softwares </a> </li>
    <li> <a href="/supervision/">  Supervision </a> </li>
    <li> <a href="/disciplinas/">  Disciplinas </a> </li>
  </ul>
</div>
