<div class="container-fluid text-right sidebar">
  <div class="row">
    {% if page.lang %}
      {% assign thislang = page.lang %}
    {% else %}
      {% assign thislang = "br" %}
    {% endif %}
    {% assign pages = site.pages | sort: 'order' %}
    {% for pg in pages %}
    {% if pg.title and pg.lang == thislang and pg.order > 0 %}
    <a class="sidebar-link col-xs-12" href="{{ pg.url | prepend: site.baseurl }}">
      {{ pg.title }}
      <i class="fa fa-fw fa-{{ pg.icon }}" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% endfor %}
    <a class="sidebar-link col-xs-12" href="https://abelsiqueira.github.io/blog/">
      Blog
      <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://github.com/abelsiqueira">
      GitHub
      <i class="fa fa-fw fa-github"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://www.researchgate.net/profile/Abel_Siqueira">
      Research Gate
      <i class="ai ai-fw ai-researchgate"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://scholar.google.com.br/citations?user=ur6VxvwAAAAJ">
      Google Scholar
      <i class="ai ai-fw ai-google-scholar"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="http://orcid.org/0000-0003-4451-281X">
      ORCiD
      <i class="ai ai-fw ai-orcid"></i>
    </a>
  </div>

</div>

<div class="text-right">
  abelsiqueira<i class="fa fa-at" aria-hidden="true"></i>ufpr.br
  <i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
</div>
