.curriculum a {
  &, &:visited, &:hover {
    color: #000;
    text-decoration: underline;
    font-weight: normal;
  }
}
.header-title {
  font-size: 3vw;
  font-family: 'Gravitas One', sans-serif;

  a {
    &, &:visited {
      color: #303;
    }
    &:hover {
      color: #272829;
      text-decoration: none;
    }
  }
}

.header-subtitle {
  font-size: 1vw;
  font-family: 'Cinzel Decorative', cursive;
}

.post-content {
  a {
    &, &:visited {
      color: #066;
      font-weight: bold;
    }
    &:hover {
      color: #234;
      text-decoration: underline;
    }
  }
}

a {
  &, &:visited {
    color: #000;
    font-weight: bold;
  }
  &:hover {
    color: #234;
    text-decoration: underline;
  }
}

.content {
  background: #f6f6f6;
  border: 1px #e0e0e0 solid;

}

.post-title {
  font-size: 4em;
}

.project {
  border-left: 5px #d0d2d4 solid;
  border-radius: 5px;
  margin: 3px;
  padding-left: 5px;
  h1 {
    border-bottom: 2px #333 solid;
    font-variant: small-caps;
  }
}

.sidebar {
  background: black;
  border: 1px #333 solid;
  font-size: 1.2em;
  a {
    &, &:hover, &:visited {
      color: white;
      text-decoration: none;
      font-weight: normal;
    }
  }
  ul {
    list-style-type: none;
  }
}

.sidebar-link {
  font-size: 1.5em;
  text-decoration: none;
  &, &:hover, &:visited {
    border-bottom: 1px #333 solid;
  }
  & {
    background-color: black;
    color: white;
  }
  &:hover {
    background-image: linear-gradient(#111, #333);
  }
}

.menu-table {
  float: left;
  width: 100%;
}

.menu-table-cell {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  display: inline-block;
  padding: 1vw;
}

.page-lang-link {
  position: absolute;
  right: 0;
  top: 64;

  img {
    width: 32px;
  }
}

footer {
  margin: 20px;
  border-top: 1px black solid;
  background-image: linear-gradient(#fff, #fcfcfc);
}

.gray {
  filter: grayscale(100%);
}

.students {
  border-top: 1px black solid;
}

.student {
  color: black;
  padding: 5px;
  border-radius: 0px 5px;
  border-top: 1px #ddd solid;
  border-right: 1px #ddd solid;
}

.student-active {
  color: #223;
  font-weight: bold;
}

.student-done {
  color: #444;
  a {
    &, &:visited, &:hover {
      color: #444;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}
