.header-title {
  font-size: 4em;
  font-family: $title-font-family;
  background: $main-color;
  color: $light-text-color;

  a {
    &, &:visited {
      color: $light-text-color;
    }
    &:hover {
      color: $sec-light-text-color;
      text-decoration: none;
    }
  }
}

.header-subtitle {
  font-size: 1.5em;
  font-family: $title-font-family;
  background: darken($main-color, 10%);
  color: $light-text-color;
  margin-bottom: 1em;
}

.post-link-prev {
  float: right;
}

.post-content, .post-link-prev {
  a {
    &, &:visited {
      color: $link-color;
      font-weight: bold;
    }
    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}

.content, .address {
  background: $content-color;
  border: 1px $light-mark-color solid;
}

.address {
  padding: 10px 0px;
}

.post-title {
  font-size: 4em;
}

.sidebar {
  font-size: 1.2em;
  a {
    &, &:hover, &:visited {
      color: white;
      text-decoration: none;
      font-weight: normal;
    }
  }
  ul {
    list-style-type: none;
  }

  img {
    height: 32px;
  }
}

.sidebar-link {
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: 0.3em;
  padding: 0.1em;
  border-radius: 5px;
  border: 2px $mark-color solid;
  background: $main-color;
  & {
    color: white;
  }
  &:hover {
    background: $sec-color;
  }
}

.menu-table {
  float: left;
  width: 100%;
}

.menu-table-cell {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  display: inline-block;
  padding: 1vw;
}

.page-lang-link {
  position: absolute;
  right: 0;
  top: 64;

  img {
    width: 32px;
  }
}

footer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px $mark-color solid;
  background: $main-color;
  color: $light-text-color;
}

.gray {
  filter: grayscale(100%);
}

.students {
  padding-left: 30px;
}

.student {
  margin-bottom: 10px;
}

.student-active {
  color: #223;
  font-weight: bold;
}

.student-done {
  color: #444;
  a {
    &, &:visited, &:hover {
      color: #444;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}

.img-compact {
  width: 45%
}
