/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.header-image {
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    position: relative;
}

.header-title {
    background: rgba(100, 150, 200, 0.5);
    border-radius: 20px;
    width: 400px;
    text-align: center;
    display: inline-block;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: bold;
    font-variant: small-caps;

    a {
      &, &:visited {
        color: #345;
      }
    }
}

.page-lang-link {
  position: absolute;
  right: 0;
  top: 64;

  img {
    width: 32px;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        position: relative;
    }
}

.post-list-date {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: right;
    text-align-last: right;
    -moz-text-align-last: right;
}

@media (max-width: 57em) {
  .post-list-date {
    display: none;
  }
}

.post-link {
    display: block;
}

/**
 * Posts
 */
.post {
  background: linear-gradient(90deg, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
}

.post-header {
    position: relative;
    margin-bottom: $spacing-unit;
    font-variant: small-caps;
}

.post-title {
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;

    h1 {
        font-size: $h1-font;
        text-align: right;
        border-bottom: 1px solid $grey-color;
        color: $grey-color;
    }

    h2 {
        display: inline-block;
        font-size: $h2-font;
        border-bottom: 3px double $grey-color;
        color: $grey-color;
    }

    h3 {
        font-size: $h3-font;
        display: inline-block;
        color: $grey-color-dark;
    }

    h4 {
        font-size: $h4-font;
    }
}

.media {
  border-width: 1px;
  border-color: #808080;
  border-style: solid;
  border-radius: 5px;
  min-height: 102px;
}

.media img {
  border: 1px solid black;
  border-radius:50px;
  height: 100px;
}

.media-left {
  float: left;
}

.gray {
  filter: grayscale(100%);
}

.card {
  position: relative;
  box-shadow: 1px 1px 5px $grey-color;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.hideContent {
  overflow: hidden;
  height: 40px;
}

.showContent {
  height: auto;
}

.show-more {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.left-info {
  float: left;
}

.right-info {
  float: right;
}
