/**
 * Site header
 */
.site-header {
    margin-top: 15px;
    border: 0px;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $link-color;
        font-weight: bold;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border: 0px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.wrapper, .footer-wrapper {
    background-color: $block-color;
    border: 1px solid $border-color;
}

.footer-wrapper {
    font-variant: small-caps;
    text-align: center;
    width: 100%;
}

.page-heading {
    font-size: $h1-font-size;
    text-align: center;
    font-variant: small-caps;
    border-style: double solid;
    border-width: 0px 2px 5px 2px;
    border-radius: 0px 0px 20px 20px;
    color: white;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.posts {
    list-style-type: none;
}

.excerpt {
  padding: 0px 10px;
  margin: 10px 0px;
  font-size: 0.9em;
}

.excerpt strong {
  font-variant: small-caps;
  font-size: 1.1em;
}

.excerpt a, a:hover, a:visited {
  color: $link-color;
}

.small-title {
  border-style: solid double;
  border-width: 2px 4px 2px 0px;
  border-radius: 10px;
  color: #ffffff;
  display: inline;
  padding: 5px;
}

.dark-back-metal {
  background: rgba(48,48,48,1);
  background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(41,41,41,1)
  44%, rgba(31,31,31,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%,
  rgba(48,48,48,1)), color-stop(44%, rgba(41,41,41,1)), color-stop(100%,
  rgba(31,31,31,1)));
  background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%,
  rgba(41,41,41,1) 44%, rgba(31,31,31,1) 100%);
  background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(41,41,41,1)
  44%, rgba(31,31,31,1) 100%);
  background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(41,41,41,1)
  44%, rgba(31,31,31,1) 100%);
  background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(41,41,41,1)
  44%, rgba(31,31,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030',
  endColorstr='#1f1f1f', GradientType=1 );
}

.col-left {
  width: 49%;
  float: left;
}

.col-right {
  width: 49%;
  float: right;
}

.excerpt-date {
  text-align: right;
  color: $sec-color;
  font-variant: small-caps;
  font-weight: bold;
}

.post-back {
  text-align: right;
  font-variant: small-caps;
  font-size: 0.9em;
}

.lang-sw {
  text-align: right;
  vertical-align: middle;
}

.feed {
  float: left;
  padding: 10px;
}

.feed img {
  width: 32px;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.right-menu {
  background-color: $block-color;
  position: fixed;
  border: 0px;
  z-index: 200;
  overflow: hidden;
  transition: transform 0.3s;
  display: block;
  top: 0;
  right: -20px;
  height: 100%;
  padding-left: 20px;
  width: 250px;
  transform: translateX(100%);
}

.right-menu-call {
  background-color: #fff;
  opacity: 0.7;
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
  height: 100%;
}

.right-menu-open {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  width: 30px;
  height: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.right-menu-close {
  background-color: #fff;
  color: #454545;
  font-size: 20px;
  border: 1px solid #454545;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  cursor: pointer;
  width: 200px;
}

.vertical-text {
  transform: rotate(-90deg);
}

.right-menu-open:focus {
  outline: none;
}

@media all and (max-height: 430px) {
  .right-menu {
    float: none;
    overflow-y: scroll;
  }
}

.right-menu.is-active {
  transform: translateX(0);
}

.right-menu-open.is-active {
  transform: translateX(0);
}

.right-menu-close {
}

body.has-active-menu {
}

.menu-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  display: block;
}

.menu-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.wrapper h2 {
  color: $sec-color;
  font-size: $h1-font-size*0.9;
  letter-spacing: 1px;
  font-weight: bold;
}
