<div class="container-fluid text-right sidebar">
  <div class="row">
    <a class="sidebar-link col-xs-12" href="/">
      Home <i class="fa fa-fw fa-home" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="/disciplinas/">
      Disciplinas <i class="fa fa-fw fa-book" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="/pesquisa/">
      Pesquisa <i class="fa fa-fw fa-flask" aria-hidden="true"></i>
    </a>
  </div>

  <br>

  <div class="row">
    <a class="sidebar-link col-xs-12" href="/research/">
      Research <i class="fa fa-fw fa-flask" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="/supervision/">
      Supervision <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="/curriculum/">
      Curriculum <i class="fa fa-fw fa-id-card" aria-hidden="true"></i>
    </a>
  </div>

  <br>

  <div class="row">
    <a class="sidebar-link col-xs-12" href="https://opt.ufpr.br">
      Opt UFPR
      <i class="fa fa-fw fa-university" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://juliasmoothoptimizers.github.io">
      JSO
      <img src="{{site.baseurl}}/assets/jso.png">
    </a>
    <a class="sidebar-link col-xs-12" href="https://abelsiqueira.github.io/blog/">
      Blog
      <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://github.com/abelsiqueira">
      GitHub
      <i class="fa fa-fw fa-github"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://www.researchgate.net/profile/Abel_Siqueira">
      Research Gate
      <i class="ai ai-fw ai-researchgate"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="https://scholar.google.com.br/citations?user=ur6VxvwAAAAJ">
      Google Scholar
      <i class="ai ai-fw ai-google-scholar"></i>
    </a>
    <a class="sidebar-link col-xs-12" href="http://orcid.org/0000-0003-4451-281X">
      ORCiD
      <i class="ai ai-fw ai-orcid"></i>
    </a>
  </div>

</div>

<hr>

<div class="workaddress">
    <div class="text-right">
      abelsiqueira<i class="fa fa-at" aria-hidden="true"></i>ufpr.br
      <i class="fa fa-fw fa-envelope" aria-hidden="true"></i><br>
      Sala 308 - PA<br>
      <h3> Endereço/Address </h3>
      Centro Politécnico da UFPR<br>
      Setor de Ciências Exatas - 3º Andar <br>
      R. Cel. Francisco H. dos Santos, 100<br>
      Jardim das Américas - 81530-015
    </div>
</div>
