<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/code-katex.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/dark-mode.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap" rel="stylesheet">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}

  <!-- Social media -->
  <meta property="og:title" content="{{ fill website_title }}">
  <meta name="twitter:title" content="{{ fill website_title }}">

  {{isdef description}}
  <meta property="og:description" content="{{ fill title }}: {{ fill description }}">
  <meta name="twitter:description" content="{{ fill title }}: {{ fill description }}">
  {{else}}
  <meta property="og:description" content="{{ fill title }}">
  <meta name="twitter:description" content="{{ fill title }}">
  {{end}}

  {{isdef image}}
  <meta property="og:image" content="https://abelsiqueira.github.io/images/{{ fill image }}">
  <meta name="twitter:image" content="https://abelsiqueira.github.io/images/{{ fill image }}">
  {{else}}
  <meta property="og:image" content="https://abelsiqueira.github.io/images/abel-banner.jpg">
  <meta name="twitter:image" content="https://abelsiqueira.github.io/images/abel-banner.jpg">
  {{end}}

  <meta property="og:url" content="{{ fill website_url }}">
  <meta name="twitter:card" content="summary_large_image">

</head>
<body>
  {{insert header.html}}

{{isdef image}}
  {{isdef image_text}}
  <div class="banner text-over-image-div">
    <img src="/images/{{ fill image }}">
    <section class="text-over-image-text">
      <h1> {{fill image_text }} </h1>
      {{ isdef image_text_sec }} <h2> {{fill image_text_sec}} </h2> {{end}}
    </section>
  </div>
  {{else}}
  <div class="banner">
    <img src="/images/{{ fill image }}">
  </div>
  {{end}}
{{end}}

<div class="container-fluid">

  <div class="container main-text">
<!-- Content appended here -->
