<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-heading">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <div class="right-menu">
      <h1> Informações </h1>
      <p> E-mail: abelsiqueira at ufpr ponto br </p>
      <p> Github: <a href="http://github.com/abelsiqueira">
        <img width="36px" src="{{ site.baseurl }}/assets/github.png">
        abelsiqueira</a> </p>
      <p> Gitlab: <a href="http://gitlab.com/abelsiqueira">
        <img width="36px" src="{{ site.baseurl }}/assets/gitlab.png">
        abelsiqueira</a> </p>
      {% if page.lang == "br" %}
      <h2> Endereço </h2>
      {% elsif page.lang == "en" %}
      <h2> Address </h2>
      {% endif %}
      <p> Universidade Federal do Paraná <br>
        Departamento de Matemática <br>
        C. Politécnico - Jd. das Américas <br>
        Caixa Postal 19081 <br>
        81531-980  Curitiba  -  PR <br>
        Brasil </p>
    </div>

  </body>

  <script>
  $(window).scroll(function(){
    $(".right-menu").css("top", Math.max(0, 170-$(this).scrollTop()));
  });
  </script>

</html>
