---
layout: page
---

<p>
  I am a <i>Professor Adjunto</i> (equivalent to Assistant Professor) at the Federal University of Paraná in Curitiba, PR, Brazil.
I work with computational optimization, numerical linear algebra, and data science.
I am a lead developer and co-creator of the JuliaSmoothOptimizers framework.
</p>

<!--
{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}
-->

<footer>
  <hr>
<small>
  Sala 308 - Bloco PA.<br>
  Centro Politécnico da UFPR.<br>
  Setor de Ciências Exatas - 3º Andar.<br>
  R. Cel. Francisco H. dos Santos, 100.<br>
  Jardim das Américas - 81530-015
</small>
</footer>
